# exclude latex temporary files
*.aux
*.bbl
*.blg
*.bcf
*.fls
*.fdb_latexmk
*.log
*.nav
*.out
*.pyg

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Fichiers Java génériques et système
*.class
*.log
.DS_Store
Thumbs.db